{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'news/css/styles.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="blockd"><details><summary>ABOUT! (test) <i class="bi bi-github"></i></summary>
    <b>Soon...</b><b>Soon...</b><b>Soon...</b><b>Soon...</b><b>Soon...</b></details>
    <ul>
        <a href="{% url 'incl' %}"><li id="edc"><i class="bi bi-megaphone"> Новости </i></li></a>
        <a href="{% url 'test' %}"><li id="edc"><i class="bi bi-megaphone"> Тест</i></li></a>
        <a href="{% url 'home' %}"><li id="edc"><i class="bi bi-megaphone"> Главная</i></li></a>
        <a href="{% url 'create' %}"><li ><button class="btn btn-info"><i class="bi bi-plus-circle-fill"><b> Добавить запись</b></i></button></li></a>
    </ul>
</div>
    {% block content %}
    {% endblock %}
</body>
</html>