{% extends "main/base.html" %}

{% block title %}Анонс🌸{% endblock %}

{% block body_class %}child-page4{% endblock %}

{% block content %}
<br><h1 class="ert">Новости на сайте</h1><br><br>
    {% if news %}
        {% for el in news %}
        <div class="alert alert-warning" id="qasd">
        <h3>{{ el.title }}</h3>
        <p>{{ el.anons }}</p>
        <p><a href="{% url 'newsdetail' el.id %}" class="btn btn-warning">Смотреть</a>
        <a href="{% url 'newsupdate' el.id %}" class="btn btn-info">Редактировать</a>
        <a href="{% url 'newsdelete' el.id %}" class="btn btn-danger">Удалить</a></p>   
        </div>
        {% endfor %}
    {% else %}
    <p>Записей нету</p>
    {% endif %}
    {# комент #}
{% endblock %}