{% extends 'main/base.html' %}
{% load static %}

{% block body_class %}child-page1{% endblock %}

{% block title %}Главная💫{% endblock %}

{% block content %}
<div class="we"><h1 id="qsc"><i class="bi bi-arrow-right-square-fill"></i id="rtf">СТАСИК НАТУРАЛ!</i><i class="bi bi-arrow-left-square-fill"></i></h1></div>
<div class="imgs"><img src="{% static 'main/img/WIN_20251025_21_03_07_Pro.jpg' %}"></div>
<span id="txts"><i>Цена: Monster Energy 0.5 Ultra<br>*Ради Non Stop Jungle потеряет девственность,
    возьмет в рот и не только...<br> О стасике: изгой, социофоб, аутист, программист (последняя стадия очень сложная)</i></span>
{% endblock %}
