{% extends 'main/base.html' %}

{% block body_class %}child-page2{% endblock %}
{% block title %}Скоро🥑і{% endblock %}

{% block content %}
    <div class="features">
        <h1 class="ert sdf">{{ title }}</h1>
        <br><button type="button" class="btn btn-danger">Просто кнопка</button>
        <!-- {% for el in item %}
            {% if el == 'about' %}
                {% filter upper %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %} -->
        
        {% for el in obj %}
            <!-- <p>{{ el }}</p> -->
            <br><br>
            <p>{{ obj.text }}</p>
        {% endfor %}
    </div>
{% endblock %}